<div class="container-fluid py-5 ">
    <form #updateForm="ngForm"  data-bs-theme="dark" class=" w-50  rounded  mx-auto p-2" >
        <h1 class="text-white mt-3">Atualizar cadastro do usuário: </h1>
        <h2 class="text-white mb-3"><i class="fa-regular fa-user"></i> {{user}}</h2>
        <div class="mb-3">
            <label for="inputNome" class="form-label text-white">Nome</label>
            <input type="text" name="name" class="form-control" id="inputNome" [(ngModel)] = person.name required >
         
        </div>
        <div class="mb-3">
            <label for="inputPerfil" class="form-label text-white">Perfil</label>
            <input type="text" name="role" class="form-control" id="inputPerfil" [(ngModel)] = person.role required >
         
        </div>
        <div class="mb-3">
            <label for="inputIdade" class="form-label text-white">Idade</label>
            <input type="number" name="age" class="form-control" id="inputIdade"[(ngModel)] = person.age required >
         
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label text-white">Email</label>
            <input type="email" name="email" class="form-control" id="inputEmail" [(ngModel)] = person.email required>
         
        </div>
        <div class="mb-3">
            <label for="inputPais" class="form-label text-white">País</label>
            <input type="text" name="pais" class="form-control" id="inputPais"[(ngModel)] = person.country >
         
        </div>
        <div class="mb-3">
            <label for="inputExperience" class="form-label text-white">Nível de Experiência</label>
            <input type="text" name = 'experience' class="form-control" id="inputExperience"  [(ngModel)] = person.experience>
         
        </div>
        <label for="selectAtivo" class="form-label text-white">Ativo</label>
        <select  id="selectAtivo" name = "isActive" class="form-select form-select-lg mb-3" aria-label="Large select example"[(ngModel)] = person.isActive>
            <option [value]="true">Ativo</option>
            <option [value]="false">Desativo</option>
  
          </select>
       
        <button type="submit" class="btn btn-outline-light" (click)="onSubmit(updateForm)" [disabled]="!updateForm.valid">Salvar</button>
        <button type="button"class="btn ms-4 btn-outline-danger" routerLink="/people">Cancelar</button>
    </form>
</div>
