<div class="d-flex flex-column bg-dark text-white  ">
    <div class="d-flex align-items-center gap-1   w-75 mx-auto p-2">
        <section class="w-50 d-flex flex-column">
            <h1 class="">Objetivo</h1>
            <p class="  fw-normal ">Nosso aplicativo de cadastro de funcionários foi desenvolvido com o objetivo principal de simplificar e agilizar o processo de gerenciamento de recursos humanos em empresas de todos os portes. Com uma interface intuitiva e funcionalidades robustas, ele permite não apenas registrar novos funcionários, mas também gerenciar dados existentes de forma eficiente.</p>
        </section>
        <img class="w-50 "  src="../../../assets/—Pngtree—office character cartoon design_4068697.png" alt="Pessoas fazendo reunião em uma mesa">
    </div>
    <div class="d-flex flex-row-reverse align-items-center gap-1 w-75 mx-auto p-2">
        <section class="w-50 d-flex flex-column">
            <h1 class="">Porquê usar?</h1>
            <p class="fw-normal">Com nossa solução intuitiva e eficiente, você poderá realizar tarefas de forma mais rápida e eficaz, liberando espaço para se concentrar em iniciativas estratégicas e criativas. Descubra como nossa aplicação pode transformar a maneira como você trabalha, proporcionando eficiência e permitindo que você alcance novos níveis de realização profissional</p>
        </section>
        <img class="w-50" src="../../../assets/—Pngtree—the real life of it_7152994.png" alt="Pessoa segurando um relógio e fazendo tarefas">
    </div>
</div>
